body{
    background-color: aquamarine;
}
.compo1{
    font-size: xx-large;
    margin-left: 43%;
}
.compo2{
    font-size: xx-large;
    margin-left: 40%;
}
.btn{
    margin-left: 48%;
}
.head{
    text-align: center;
}